.quantityContainer{
    color: white;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: auto;
}

.incrementQuantity, .decrementQuantity {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
}

.incrementQuantity {
    background-color: green;    
    
}

.decrementQuantity {
    background-color: red;
    margin-bottom: 0px;
}