
.container {
    width: 420px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    column-gap: 20px;
    row-gap: 25px;
    border: none;
    outline: none;
}

.title{
    grid-column: 1/3;
    grid-row: 1/2;
    color: green;
    font-family: 'Bebas Neue';
    font-size: 1.5rem;
}
