.container{
    width: 100%;
    background-image: url('./images/food dash banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0px;
}

.order{
    width: 400px;    
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
}

.order_detail{
    color: green;
    font-size: 1.5625rem;
}

.order_detail > span {
    font-weight: 700;
}

.items{
    display: flex;
    gap: 20px;
    flex-direction: column;    
}

.item{
    display: grid;
    grid-template-columns: 50px 250px 30px;
    align-items: center;
    column-gap: 15px;
}

.item_image{
    width: 100%;
    object-fit: contain;
}

.item_name{
    color: green;
    font-size: 1.5625rem;
    font-weight: 700;
    text-transform: capitalize;
}

.item_quantity{
    color: green;
    font-size: 20px;    
}

@media(max-width: 500px){
    .order{
        width: 300px;
    }

    .order_detail{
        font-size: 1.3rem
    }

    .item{
        grid-template-columns: 50px 150px 30px;
    }

    .item_name{
        font-size: 1.3rem;
    }
}