@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Pacifico&family=Roboto&family=Shadows+Into+Light&display=swap');

.restaurantIntro{
    background-color: rgb(243, 236, 236);
    border-radius: 30px;
}

.restaurantImage {
    width: 100%;
}

.restaurantInfo {
   font-family: 'Anton', sans-serif;
   font-size: 1.6rem;
   width: 300px;
   height: auto;
   margin: auto;
}

.restaurantDeliveryFee {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.4rem;
    width: 200px;
    height: auto;
    margin: auto;
}

.itemContainer {
    text-align: left;
    padding: 10px;
}

.itemContainer::after {
    content: "";
    clear: both;
    display: block;
}

.itemContainer:nth-of-type(2n) {
    background-color:rgb(243, 236, 236);
    border-radius: 30px;
}

.itemImage {
    width: 300px;
    height: 300px;
    float: left;
}

.itemTitle {
    font-size: 1.6rem;
    font-family: 'Bebas Neue', cursive;
    padding: 1rem;
}

.itemIngredients, .itemSauces , .itemSize {
    font-size: 1.2rem;
    padding: 1rem;
}

.itemIngredients:empty, .itemSauces:empty, .itemSize:empty, .itemSize:empty {
    padding: 0px;
}

.itemPrice {
    font-weight: bold;
    font-size: 1.3rem;
    padding: 1rem;
}

.itemSizes {
    display: none;
}

.chooseItem {
    background-color: green;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 10px;
    cursor: pointer;
}
